@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import '../HomePage/HomePage.scss';
@import '../Cryptocurrency/Cryptocurrency.scss';
@import '../CryptoDetails/CryptoDetails.scss';
@import '../News/News.scss';
@import '../LineChart/LineChart.scss';

@import '../Variables/Variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hidden {
    opacity: none;
    display: flex;
    align-items: center;
}

.navbar {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem 2rem;
    width: 100vw;
    height: 80px;
    background-color: $bgSecondary;


    h1 {
        margin-left: 3rem;
        font-size: 2rem;
        color: $fontTertiary;
    }

    a {
        display: flex;
        font-size: 1.25rem;
        margin: 0.75rem 1rem;
        color: $fontTertiary;

        &:hover {
            color: #f0ede4;
        }

        span {
            font-size: 1.5rem;
            margin-right: 0.75rem;
        }
    }

    .nav-right {

        .menu-items {

            display: flex;
            align-items: center;
            margin-right: 2rem;

        }

        .menu-icon {
            display: none;
        }


    }
}

.main {
    padding: 120px 5rem 20px;

}


.footer {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    padding: 1.5rem;
    background-color: $bgSecondary;

    p {
        color: $fontTertiary;
        margin: 0.5rem;
    }
}

@media (max-width: 1200px) {

    .hidden {
        display: none;
    }

    .main {
        padding: 120px 1rem 20px;
    }

    .navbar {

        height: 70px;
        padding: 1rem 0 1rem 1rem;

        h1 {
            margin-left: 0;
            margin-right: 0.5rem;
            font-size: 1.5rem;
        }

        .nav-right {

            .menu-items {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 10rem;
                margin-right: 0;
                width: 100%;
                background-color: $bgSecondary;

                a {
                    display: flex;
                    font-size: 1rem;
                    margin: 0.75rem 1rem;
                    color: $fontTertiary;

                }
            }

            .menu-icon {
                z-index: 10;
                display: inline-block;
                margin-left: auto;
                padding-right: 1.5rem;
                font-size: 1.5rem;
                color: $fontTertiary;
            }



        }
    }



}